/**
 * Main Style Sheet
 * Marze Morit
 *
 * Copyright © 2017 Mladen Mijatov. All Rights Reserved.
 */

body {
	background-color: white;
	color: black;
}

/**
 * Header
 */
header {
	padding: 0 calc(~'(100% - 1200px) / 2');
	min-height: 600px;

	background-image: url(../images/header-background.jpg);
	background-position: center top;
}
