/**
 * Main Style Sheet
 * Marze Morit
 *
 * Copyright © 2017 Way2CU. All Rights Reserved.
 * Author: Mladen Mijatov
 */

@import 'common.less';

body {
	background-color: white;
	color: black;
	font-size: 100%;
}

h1 {
	margin: 0;
	padding: 0;
	padding-top: 0.5em;

	color: @color_dark_blue;
	font-size: 1.6rem;
}

h2 {
	font-size: 1.4rem;
}

h3 {
	font-size: 1.3rem;
}

li, p {
	font-size: 0.9rem;
}

h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
	padding-top: 0.5em;

	color: @color_blue;
}

/**
 * Header
 */

header {
	background-image: url(../images/mobile-header-background-02.jpg);
	background-position: center bottom;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

body > img.logo {
	margin: 0em 25vw;
	width: 45vw;
}

header > img.stamp {
	display: none;
}

/**
* Header Article
*/

header > article > h1,
header > article > h2 {
	text-align: center;
}

header > article > h1 {
	display: none;
} 

header > article > ul {
	padding-bottom: 1em;
	padding: 0em 2em;
	list-style-type: none;
	list-style-image: none;
}

header > article > ul > li {
	padding-bottom: 0.5em;
}

header > article > ul > li:nth-of-type(1):before {
	display: inline-block;
    width: 1.2em;
    height: 1.5em;
    margin: 0.8em 0.2em 0 0.8em;
    content: "  ";
    background: url(../images/svg-icons/apple.svg) no-repeat 0 0;
    background-size: 100%;
    vertical-align: sub;
}

header > article > ul > li:nth-of-type(2):before {
	display: inline-block;
    width: 1.2em;
    height: 1.5em;
    margin: 0.8em 0.2em 0 0.8em;
    content: "  ";
    background: url(../images/svg-icons/caller.svg) no-repeat 0 0;
    background-size: 100%;
    vertical-align: sub;
}

header > article > ul > li:nth-of-type(3):before {
	display: inline-block;
    width: 1.2em;
    height: 1.5em;
    margin: 0.8em 0.2em 0 0.8em;
    content: "  ";
    background: url(../images/svg-icons/time.svg) no-repeat 0 0;
    background-size: 100%;
    vertical-align: sub;
}

header > a > svg {
	display: inline-block;
	width: 2em;
	height: 2em;
	vertical-align: middle;
}

header > a > p {
	font-size: 1.6em;
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
	padding-left: 0.8em;
	margin: 0.6em 0;
}

header > a.call-to-action {
	margin-bottom: 125vw;
	margin-right: 15vw;
	display: inline-block;
	padding: 0em 1em;
	background-color: @color_red;
	text-decoration: none;
	color: @color_background;
	text-align: center;
	border-radius: 1em;

	&:hover {
		background-color: lighten(@color_red, 10);
		cursor: pointer;
	}

	&:active {
		background-color: darken(@color_red, 10);
	}
}

header > p.btn-label {
	margin-right: 17vw;
	font-weight: bold;
}

/**
 * Contact form
 */

body > div.form-mobile > h3,
body > div.form-mobile > span {
	padding: 1rem;
	text-align: center;
}

body > div.form-mobile > h3 {
	color: @color_off_black;
}

body > div.form-mobile > form {
	padding: 0 1rem;
}

body > div.form-mobile > form label {
	width: 100%;
	display: block;
	margin-bottom: 0.8em;
}

body > div.form-mobile > form label span {
	display: inline-block;
	min-width: 3em;
}

body > div.form-mobile > form label input {
	border: 1px solid @color_off_black;
	box-sizing: border-box;
	height: 3.2em;
	width: 82%;
	background-color: @color_background;

	color: @color_off_black;

	&:focus {
		border-color: @color_red;
	}
}

body > div.form-mobile > form div.controls {
	text-align: center;
	margin-top: 1.3em;
}

body > div.form-mobile > form div.controls button {
	box-sizing: border-box;
	padding: 1em 4em;
	border: 0;
	background-color: @color_red;
	color: white;

	&:active {
		background-color: darken(@color_red, 10);
	}
}

body > div.form-mobile > span {
	display: block;
	margin-top: 1em;
}

/*
* Article company-programs
*/

body > div.programs > article {
	margin-top: 0.8em;
	text-align: center;
} 

body > div.programs > article > h2 {
	text-align: center;
	margin-bottom: 1em;
	color: @color_off_black;
}

body > div.programs > article > h1:empty {
	display: none;
}

body > div.programs > article > ul {
	padding: 0em 0em;
	list-style-type: none;
	list-style-image: none;
}

body > div.programs > article > ul > li {
	display: inline-block;
	width: 39%;
	margin: 1em;
	color: @color_dark_blue;
}

body > div.programs > article > ul > li:nth-of-type(odd) {
	border-left: 1px solid @color_dark_blue;
	margin-left: 0em;
	padding-left: 1em;
}

/*
* Offer section
*/

body > div.offer-section {
	background-image: url(../images/mobile-table-2.jpg);
	background-size: 100% auto;
	background-position: center bottom;
	background-repeat: no-repeat;
}

body > div.offer-section article {
	padding: 0 2em;
	margin-bottom: 10vw;
}

body > div.offer-section article > h1:empty {
	display: none;
}

body > div.offer-section article > h1 {
	color: @color_off_black;
}

body > div.offer-section article > h2 {
	color: @color_off_black;
}

body > div.offer-section article > hr {
	background-color: @color_red;
	height: 1px;
	border: 0;
}

body > div.offer-section article > ol {
	list-style: none;
	counter-reset: li;
	padding-right: 0;
	margin: 2em 0em;
}

body > div.offer-section article > ol > li {
	counter-increment: li;
	margin-bottom: 2em;
}

body > div.offer-section article > ol > li:before {
	content: counter(li) ".";
	color: @color_red;
  	display: inline-block; 
  	margin-left: 1em;
}

body > div.offer-section > a.call-to-action {
	display: inline-block;
	margin-bottom: 60vw;
	margin-right: 15vw;
	padding: 0em 1em;
	background-color: @color_red;
	text-decoration: none;
	color: @color_background;
	border-radius: 1em;

	&:active {
		background-color: darken(@color_red, 10);
	}
}

body > div.offer-section > a.call-to-action > p {
	font-size: 1.6em;
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
	padding-left: 0.8em;
	margin: 0.6em 0;
}

body > div.offer-section > a.call-to-action > svg {
	display: inline-block;
	width: 2em;
	height: 2em;
	vertical-align: middle;
}

body > div.offer-section > p.btn-label {
	margin-right: 17vw;
	font-weight: bold;
	display: inline-block;
	color: @color_off_black;
}

/*
* Gallery
*/

body > div.gallery > article {
	padding: 0px 2em;
}

body > div.gallery > article > h2,
body > div.gallery > article > h3 {
	text-align: center;
	color: @color_off_black;
}

body > div.gallery > article > hr {
	background-color: @color_red;
	height: 1px;
	border: 0px;
	margin-top: 2em;
}

body > div.gallery > div.image-list {
	padding: 0px 2em;	
	margin-top: 2em;
}

body > div.gallery > div.image-list > div.list-item {
	margin-bottom: 2em;
	display: inline-block;
	width: 100%;
}

body > div.gallery > div.image-list > div.list-item > div {
	display: inline-block;
	width: 60%;
	margin-bottom: 1em;
}

body > div.gallery > div.image-list > div.list-item > div > p {
	display: inline-block;
	margin: 0;
	padding-bottom: 0.4em;
	color: @color_off_black;
}

body > div.gallery > div.image-list > div.list-item > img {
	vertical-align: bottom;
}

/*
*	Footer
*/

footer {
	color: @color_background;

	background-image: url(../images/mobile-footer-1.jpg);
	background-size: 100% auto;
	background-position: center bottom;
	background-repeat: no-repeat;
}

footer img.logo {
	margin: 0 calc(~'(100% - 20vw)/2');
	width: 20vw;
	display: inline-block;
}

footer img.stamp {
	display: inline-block;
	width: 60vw;
	margin: 0 calc(~'(100% - 60vw)/2');
	padding-bottom: 50vw;
}

footer > article {
	padding: 0 2em;
}

footer > article > h1,
footer > article > h3 {
	text-align: center;
}

footer > article > ul {
	color: @color_off_black;
	padding-right: 0;
	padding-bottom: 1em;
	list-style-type: none;
	list-style-image: none;
	line-height: 3em;
}

footer > article > ul > li:nth-of-type(1):before {
	display: inline-block;
    width: 1.2em;
    height: 1.5em;
    margin: 0.8em 0.2em 0 0.8em;
    content: "  ";
    background: url(../images/svg-icons/apple.svg) no-repeat 0 0;
    background-size: 100%;
    vertical-align: sub;
}

footer > article > ul > li:nth-of-type(2):before {
	display: inline-block;
    width: 1.2em;
    height: 1.5em;
    margin: 0.8em 0.2em 0 0.8em;
    content: "  ";
    background: url(../images/svg-icons/caller.svg) no-repeat 0 0;
    background-size: 100%;
    vertical-align: sub;
}

footer > article > ul > li:nth-of-type(3):before {
	display: inline-block;
    width: 1.2em;
    height: 1.5em;
    margin: 0.8em 0.2em 0 0.8em;
    content: "  ";
    background: url(../images/svg-icons/time.svg) no-repeat 0 0;
    background-size: 100%;
    vertical-align: sub;
}

footer > a.call-to-action {
	margin-right: 15vw;
	margin-bottom: 3em;
	display: inline-block;
	padding: 0em 1em;
	background-color: @color_red;
	text-decoration: none;
	color: @color_background;
	text-align: center;
	border-radius: 1em;

	&:active {
		background-color: darken(@color_red, 10);
	}
}

footer > a.call-to-action svg {
	display: inline-block;
	width: 2em;
	height: 2em;
	vertical-align: middle;
}

footer > a.call-to-action p {
	font-size: 1.6em;
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
	padding-left: 0.8em;
	margin: 0.6em 0;
}

footer > p.btn-label {
	margin-right: 17vw;
	color: @color_off_black;
	font-weight: bold;
}

body > div.form-footer-mobile {
	text-align: center;
	background-color: black;
}

body > div.form-footer-mobile > form {
}

body > div.form-footer-mobile > h3 {
	display: inline-block;
	color: @color_background;
	padding-bottom: 1.2em;
}

body > div.form-footer-mobile > span {
	display: inline-block;
	padding-top: 1.2em;
	color: @color_background;
}

body > div.form-footer-mobile > form > label {
	width: 100%;
	display: block;
	margin-bottom: 0.8em;
}

body > div.form-footer-mobile > form > label > span {
	padding-left: 0.3em;
	color: @color_background;
}

body > div.form-footer-mobile > form > label > input {
	border: 1px solid @color_off_black;
	box-sizing: border-box;
	height: 3.2em;
	width: 78%;
	background-color: @color_background;

	color: @color_off_black;

	&:focus {
		border-color: @color_red;
	}
}

body > div.form-footer-mobile > form > div.controls {
	text-align: center;
	margin-top: 1.3em;
}

body > div.form-footer-mobile > form > div.controls button {
	box-sizing: border-box;
	padding: 1em 4em;
	border: 0;
	background-color: @color_red;
	color: white;

	&:active {
		background-color: darken(@color_red, 10);
	}
}