/**
 * Main Style Sheet
 * Marze Morit
 *
 * Copyright © 2017 Way2CU. All Rights Reserved.
 * Author: Mladen Mijatov
 */

@import 'common.less';

body {
	background-color: white;
	color: black;
}

h1 {
	margin: 0;
	padding: 0;
	padding-top: 0.5em;

	color: @color_dark_blue;
}

h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
	padding-top: 0.5em;

	color: @color_blue;
}

/**
 * Header
 */
header {
	padding: 0 calc(~'(100% - 1200px) / 2');
	min-height: 600px;

	background-image: url(../images/header-background.jpg);
	background-position: center top;
}

header img.logo {
	width: 200px;
	margin-bottom: 1em;
}

header img.stamp {
	width: 200px;
	position: absolute;
	top: 22%;
	right: 38%;
}

/**
 * Contact form
 */
header > div {
	position: absolute;
	top: 50px;
	left: calc(~'(100% - 1200px) / 2');

	background-color: @color_background;
	background-color: fade(@color_background, 60);
}

header > div > h3,
header > div > span {
	padding: 1rem;
	text-align: center;
}

header > div > h3 {
	color: @color_off_black;
	white-space: pre-line;
	width: 350px;
	white-space: pre;
}

header > div > form {
	padding: 0 1rem;
}

header > div > form label {
	display: block;
	margin-bottom: 10px;
}

header > div > form label span {
	display: inline-block;
	min-width: 70px;
}

header > div > form label input {
	padding: 1em;
	border: 1px solid @color_off_black;
	background-color: @color_background;

	color: @color_off_black;

	&:focus {
		border-color: @color_blue;
	}
}

header > div > form div.controls {
	text-align: center;
}

header > div > form div.controls button {
	padding: 1em 3em;

	border: 0;
	background-color: @color_red;
	color: white;

	transition: 0.3s all;

	&:hover {
		background-color: lighten(@color_red, 10);
		cursor: pointer;
	}

	&:active {
		background-color: darken(@color_red, 10);
	}
}

header > div > span {
	display: block;
	margin-top: 1em;
	background-color: fade(@color_background, 50);
}

/**
* Header Article
*/

header article {
	position: relative;
	top: 5px;
	right: calc(~'(100% - 1200px) / 2');
}

header > article > ul {
	padding-right: 3em;
	padding-bottom: 1em;
	list-style-type: none;
	list-style-image: none;
	line-height: 40px;
}

header > a > svg {
	display: inline;
	width: 30px;
	height: 30px;
	text-align: left;
	margin-top: 5px;
}

header > a > p {
	display: inline;
	vertical-align: bottom;
	margin-left: 5px;
}

header > a.call-to-action {
	position: relative;
	display: inline-block;
	top: 20px;
	margin-right: 40px;
	width: 240px;
	height: 50px;
	padding-top: 10px;
	background-color: @color_red;
	text-decoration: none;
	color: @color_background;
	text-align: center;
	border-radius: 1em;

	&:hover {
		background-color: lighten(@color_red, 10);
		cursor: pointer;
	}

	&:active {
		background-color: darken(@color_red, 10);
	}
}

header > p.btn-label {
	position: relative;
	display: block;
	top: 20px;
	margin-top: 40px;
	padding-right: 50px;	
}

header > span.icon-wrap {
	display: block;
	position: absolute;
	top: 215px;
}

header > span.icon-wrap > svg {
	width: 1.5em;
	height: 1.5em;
	display: block;
	margin: 15px 0px 10px 10px;
	position: relative;
}

/*
* Article company-programs
*/

body > article {
	margin-top: 10px;
	padding: 0 calc(~'(100% - 800px) / 2');
	text-align: center;
} 

body > article > h2 {
	color: @color_off_black;
}

body > article > ul {
	list-style-type: none;
	list-style-image: none;
	margin: 25px 0px 25px 25px;
}

body > article > ul > li {
	display: inline-block;
	padding: 0 2em;
	color: @color_dark_blue;
}

body > article > ul > li:not(:last-child) {
	border-left: 1px solid @color_dark_blue;
}

/*
* Offer section
*/

body > div.offer-section {
	padding: 0 calc(~'(100% - 1200px) / 2');
	height: 500px;

	background-image: url(../images/table.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
}

body > div.offer-section article {
	width: 40%;
	padding-right: 10%;
}

body > div.offer-section article > h2 {
	color: @color_off_black;
}

body > div.offer-section article > hr {
	background-color: @color_red;
	height: 1px;
	border: 0px;
}

body > div.offer-section article > ol {
	list-style: none;
	counter-reset: li;
	padding-right: 0px;
}

body > div.offer-section article > ol > li {
	counter-increment: li;
	width: 40%;
	display: inline-block;
	padding: 15px 0px 15px 15px;
}

body > div.offer-section article > ol > li:before {
	content: counter(li) ".";
	color: @color_red;
  	display: inline-block; 
  	margin-left: 1em;
}

body > div.offer-section > a.call-to-action {
	position: relative;
	display: inline-block;
	top: -290px;
	right: 775px;
	margin-right: 40px;
	width: 240px;
	height: 50px;
	padding-top: 10px;
	background-color: @color_red;
	text-decoration: none;
	color: @color_background;
	text-align: center;
	border-radius: 1em;

	&:hover {
		background-color: lighten(@color_red, 10);
		cursor: pointer;
	}

	&:active {
		background-color: darken(@color_red, 10);
	}
}

body > div.offer-section > a.call-to-action > p {
	display: inline;
	vertical-align: bottom;
	margin-left: 5px;
}

body > div.offer-section > a.call-to-action > svg {
	display: inline;
	width: 30px;
	height: 30px;
	text-align: left;
	margin-top: 5px;
}

body > div.offer-section > p.btn-label {
	position: relative;
	display: block;
	top: -290px;
	right: 775px;
	margin-top: 40px;
	padding-right: 50px;	
	color: @color_off_black;
}
